body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*-----Generals------*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 30px;
}

/*--------Navbar------------*/

.navbarcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #edebf8;
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 10px;
  font-size: 15px;
  margin-right: 40px;
  text-transform: uppercase;
}

li:hover {
  color: #ffffff;
  border-radius: 3px;
  background-color: #00b5ff;
  padding: 10px;
}

/*-------Buttons---------*/

.btn {
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  background-color: #00b5ff;
  padding: 15px 30px;
  border: none;
}

/*--------Header---------*/

.container-header {
  background-image: url(./assets/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 940px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-center {
  margin: 0 50px;
  position: absolute;
  left: 12%;
}

.header-center h1 {
  font-size: 60px;
  font-weight: 300;
}

.header-center h1 span {
  color: #00b5ff;
}
/*----------Features-------------*/

.features-container {
  height: 940px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-featurebox img {
  height: 250px;
}

.featurebox-container {
  width: 300px;
  height: 450px;
  margin: 0 20px;
  text-align: center;
}

/*------------About-------------------*/

.about-container {
  background-image: url(./assets/presentation.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 940px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-center {
  background-color: #ffffff;
  opacity: 0.8;
  padding: 20px;
  border: solid 1px #000000;
}
.about-center h1 {
  font-size: 40px;
  font-weight: 300;
}

.about-center h1 span {
  color: #00b5ff;
}

/*-------------UI SS--------------*/

.ui-container {
  height: 940px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-center {
  width: 25%;
}

.ui-img img {
  height: 600px;
}

.ui-center h1 {
  color: #00b5ff;
  font-weight: 300;
}

/*----------Download-----------*/

.download-container {
  height: 940px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-center {
  width: 30%;
}

.download-img img {
  height: 600px;
}

.download-center h1 {
  color: #00b5ff;
  font-weight: 300;
}

.container-footer {
  background-color: #00b5ff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
